.detailPage {
  background: #d9d9d9;
  width: 360px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailForm {
  width: 80%;
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  flex-direction: column;
}

#title,
#detail {
  border-radius: 5px;
  padding: 4px;
  width: 296px;
}

#title {
  height: 30px;
}

#detail {
  height: 150px;
}

#divWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#btnAdd,
#btnCancle {
  padding: 5px 16px;
  color: #fff;
}

#btnAdd {
  background-color: #79e226;
}

#btnCancle {
  background-color: #ef5142;
}
